.cart-header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__icon {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      background: url(../../../../assets/icons/cart-icon.png) no-repeat;
      margin-right: 20px;
      margin-top: 20px;

      span {
        background-color: #dfbd00;
        bottom: -10px;
        border-radius: 50px;
        display: block;
        font-weight: bold;
        font-size: 12px;
        height: 20px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 20px;
        line-height: 20px;
      }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__close {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

}
