.product-item {
  width: 100%;
  text-align: center;

  &__content {
    padding: 20px 40px;
  }

  &__title {
    font-size: 14px;
    color: #131316;
    margin-top: 15px;
    margin-bottom: 5px;

    &:after {
      content: '';
      background-color: #dfbd00;
      display: block;
      margin: 10px auto;
      height: 2px;
      position: relative;
      width: 25px;
    }
  }

  &__price {
    font-size: 12px;
    color: #131316;
    margin: 0;

    .value {
        font-size: 24px;
        font-weight: 700;
    }
  }

  &__installment {
    font-size: 14px;
    color: #999999;
    margin: 0 0 10px 0;

    .value {
      font-weight: 600;
    }
  }

  @media all and (min-width: 768px) {
    width: 50%;
  }

  @media all and (min-width: 992px) {
    width: 33.333%;
  }

  @media all and (min-width: 1200px) {
    width: 25%;
  }

}
