.cart-item {
  border-top: 2px solid #131316;
  display: flex;
  padding: 20px 0;
  position: relative;
  justify-content: space-between;

  > :last-child {
    text-align: right;
  }

  &__thumbnail {
    width: 50px;
    margin-right: 20px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__info {
    flex: 1;
  }

  &__actions {
    width: 75px;
    margin-left: 20px;
  }

  &__title {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  &__sizes,
  &__total {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
  }

  &__price {
    color: #dfbd00;
    align-self: flex-end;

    .value {
      font-weight: bold;
    }
  }

  &__bt-remove {
    border: 0;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }

  &:hover {
    .cart-item__thumbnail,
    .cart-item__price,
    .cart-item__info {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

}
