.cart {
  background-color: #202025;
  bottom: 0;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  right: -20px;
  top: 0;
  transform: translateX(100%);
  transition: all 1s ease;
  width: calc(100% + 20px);

  &.-open {
    transform: translateX(0);
  }

  &__content {
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
    padding: 50px 30px 50px 30px;
  }

  @media all and (min-width: 768px) {
    width: 518px;
  }
}
