.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  width: 100%;

  @media all and (min-width: 768px) {
    width: 768px;
  }

  @media all and (min-width: 992px) {
    width: 960px;
  }

  @media all and (min-width: 1200px) {
    width: 1200px;
  }
}
