.cart-footer {

  &__content {
    display: flex;
    width: 100%;
    margin: 30px 0;
    justify-content: space-between;
  }

  &__title {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0;
    text-transform: uppercase;
  }

  &__total {
    display: block;
    color: #dfbd00;;
    font-size: 24px;
    margin: 20px 0 0;
    text-align: right;

    .value {
      font-weight: bold;
    }
  }

  &__installment {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__buy {
    flex: 1;
    background-color: #131316;
    color: #ffffff;
    height: 50px;
    border: 0;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
  }
}
